---
layout: default
---


</style>

<div class="appInfo" style="display: flex; align-items: center;">
    <div class="appIconShadow">
        <img width="100" class="appIconLarge" src="https://oss.douwantech.com/assets/images/MetaLogo.png">
    </div>
    <div class="appNamePriceContainer">
        <h1 style="padding-left: 20px;" class="appName">AI美图 - 让你的图片变得更美丽</h1>
    </div>
</div>

<div class="appDescriptionContainer clearfix " >
    <p class="appDescription" style="padding-top: 20px;">
        AI美图 利用人工智能技术，帮助您将照片转化为令人惊艳的艺术作品。
    </p >
    <br />
    <p class="appDescription" style="padding-top: 20px; float:left;margin-right: 75px;">
    【功能区】
    <br />
    AI壁纸：跟AI描述生成你自己独一无二的AI壁纸
    <br />
    AI模型：海量壁纸模型，随心所欲选择
    <br />
    一键分享：AI美图允许您一键分享编辑后的照片到社交媒体平台
    </p >
    <br />
    <img src="/assets/bglist.png" alt="">
</div>








